.cabecalho{

   
    
    background-color: #393a3b;
    color: white;

 display: flex; 
 justify-content: space-around;


}
.Logotipogamer{

width: 0%;;
}
.cabecalho-item{

    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
    
}   
.img-body{
 width: 20%;

}