.cabecalho{

   
    
    background-color: #1f5992;
    color: white;

 display: flex; 
 justify-content: space-around;


}
.Logotipogamer{

width: 10%;;

}
.cabecalho-item{

    display: inline-block;
    margin: 0 20px;
}